{% extends "base.html" %} {% block title %}Edit{% endblock %} {% block content %}
<h3 align="center">Edit Profile</h3>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method = 'post'>
        {{ edit_email.csrf_token }}
        {{ edit_email.email.label }}{{ edit_email.email(class="form-control",type="email") }}
        {{ edit_email.submit1(class="btn btn-primary") }}
        </form>
        <form method = 'post'>
        {{ edit_nickname.csrf_token }}
        {{ edit_nickname.nickname.label }}{{ edit_nickname.nickname(class="form-control",type="text") }}
        {{ edit_nickname.submit2(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}