{% extends "base.html" %} {% block title %}Edit{% endblock %} {% block content %}
<h3 align="center">Edit</h3>
<form method = 'post'>
    {{ change_password.csrf_token }}
    {{ change_password.password1.label }}{{ change_password.password1(class="form-control",type="password") }}
    {{ change_password.password2.label }}{{ change_password.password2(class="form-control",type="password") }}
    <div class="butn">
    {{ change_password.submit3(class="btn btn-primary") }}
    </div>
</form>
<div class="jump-ball">
    <ul class="jump">
        <li class="j-ball"></li>
        <li class="j-ball"></li>
        <li class="j-ball"></li>
        <li class="j-ball"></li>
        <li class="j-ball"></li>
        <li class="j-ball"></li>
        <li class="j-ball"></li>
        <li class="j-ball"></li>
        <li class="j-ball"></li>
    </ul>
</div>
{% endblock %}