{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content %}
<div class="all_body">
  <div class="self_info">
    <div class="left_body">
      <div class="self_img">
        <img src="{{ url_for('static', filename='images/'+accessingUser.portraitLink) }}" alt="{{accessingUser.portraitLink}}" width="150" height="150">
      </div>
      {% if user.id==accessingUser.id %}
      <button  type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('views.upload') }}'">Upload portrait</button>
      <br>
      <button  type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('views.edit') }}'">Edit Profile</button>
      <br>
      <button  type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('views.ChangePassword') }}'">Change Password</button>
      {% else %}
    </div>
  </div>
  <div class="article_box">
    <div class="right_body">
      <h3>hello, {{user.nickname}}</h3>
      {% endif %}
      <h1 >{{accessingUser.nickname}}'s Profile</h1>
      <h1 >Email:{{accessingUser.email}}</h1>
      <h2>My Notes</h2>
      <div class="article_box">
        <ul class="list-group list-group-flush" id="notes">
            {% for note in accessingUser.notes %}
            <li class="list-group-item">
                {{ note.date }}
                <br \>
                {{ note.data }}
              {% if note.user_id == user.id %}
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
                </button>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>
{% endblock%}