{% extends "base.html" %} 
{% block styles %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">

{% endblock %}
{% block title %}profile{% endblock %} {% block content%}
    







<div class="article_box clearfix">
        <div class="left">
        <!--首页最新模板部分-->
            <div class="article_box_one">
            <div class="index_article_title clearfix">
                <h3>最新留言</h3>
            </div>
            <ul class="index_article">

                {% for note in notes %}
                {% if note.user_id == user.id %}
                <li class="clearfix article_list">

                    <a href="article.html" class="article_list_img">
                        <img src="../static/img/bg_2.png">
                    </a>
                    
                    <a href="#"><h3>这里是文章的title</h3></a>
                    <p>{{ note.data }}</p>



                </li>
                {% endif %}
                {% endfor %}
            </ul>
            </div>          
        </div>

        <div class="right">
        <!--个人介绍部分-->
            <div class="self_info right_box">
                <img src="{{ avatars.robohash(username) }}">
                <!-- <img src="../static/img/self.jpg"> -->
                <div class="self_info_text">
                    <h3>{{username}}</h3>
                    <div>
                        <p>个人签名：</p>
                        <p>有匪君子，如切如磋，如琢如磨。</p>
                        <p>天将降大任于斯人也，必先苦其心志、磨其胫骨、饿其体肤</p>
                    </div>
                </div>
            </div>

{% endblock %}

{% block script %}
<script
src="{{ url_for('static', filename='js/base.js') }}"
></script>
<script
src="{{ url_for('static', filename='js/jquery.slides.min.js') }}"
></script>
<script
src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"
></script>
{% endblock script %}