{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block
content %} {% if user.id==accessingUser.id%}
<h1 align="center">My Profile</h1>
{% else %}
<h1 align="center">{{accessingUser.nickname}}'s Profile</h1>
{% endif %}
<h1 align="center">Email:{{accessingUser.email}}</h1>
<div align="center">
  <img
    src="{{ url_for('static', filename='images/'+accessingUser.portraitLink) }}"
    alt="{{accessingUser.portraitLink}}"
    width="150"
    height="150"
  />
</div>
{% if user.id==accessingUser.id %}
<div align="center">
  <button
    align="center"
    type="submit"
    class="btn btn-primary"
    onclick="window.location.href='{{ url_for('views.upload') }}'"
  >
    Upload portrait
  </button>
  <br />
  <button
    align="left"
    type="submit"
    class="btn btn-primary"
    onclick="window.location.href='{{ url_for('views.edit') }}'"
  >
    Edit Profile
  </button>
  <button
    align="right"
    type="submit"
    class="btn btn-primary"
    onclick="window.location.href='{{ url_for('views.ChangePassword') }}'"
  >
    Change Password
  </button>
</div>
{% else %}
<h3 align="center">hello, {{user.nickname}}</h3>
{% endif %} {% if user.id==accessingUser.id%}
<h2 align="center">My Notes</h2>
{% else %}
<h2 align="center">{{accessingUser.nickname}}'s Notes</h2>
{% endif %}
<ul class="list-group list-group-flush" id="notes">
  {% for note in accessingUser.notes|sort(attribute='date', reverse = True) %}
  <li class="list-group-item">
    {{ note.date }}
    <br \ />
    {{ note.data }} {% if note.user_id == user.id %}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock%}
